* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header {
  border-bottom: 1px solid grey;
}
header .top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .top-header .left-top-header {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-left: 10px;
}
header .top-header .left-top-header img:hover {
  cursor: pointer;
}
header .top-header .left-top-header p {
  font-size: 22px;
  color: #575757;
  margin-top: 5px;
}
header .top-header .left-top-header p:hover {
  cursor: pointer;
}
header .top-header .right-top-header {
  padding-top: 10px;
  padding-right: 10px;
}
header .top-header .right-top-header i {
  font-size: 25px;
  margin-left: 20px;
  color: #575757;
}
header .top-header .right-top-header i:hover {
  cursor: pointer;
}
header .navbar ul {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
}
header .navbar ul li {
  list-style: none;
  padding: 8px 20px;
  font-size: 15px;
  font-weight: bold;
}
header .navbar ul li a {
  text-decoration: none;
  color: #575757;
}
header .navbar ul li:hover {
  cursor: pointer;
}
header .navbar ul li:last-child {
  color: #006eff;
  border-bottom: 2px solid #006eff;
}

main .container {
  width: 52%;
  margin: 0 auto;
}
main .container .faqs {
  padding-top: 60px;
}
main .container .faqs .faq {
  padding: 40px 10px 0 10px;
}
main .container .faqs .faq h3 {
  font-size: 25px;
}
main .container .faqs .faq p {
  margin: 35px 0;
  font-size: 14px;
  line-height: 22px;
}
main .container .faqs .faq a {
  text-decoration: none;
  color: #006eff;
}
main .container .faqs .faq ol {
  padding-left: 20px;
}
main .container .faqs .faq ol li {
  padding-left: 20px;
  margin: 15px 0;
  line-height: 22px;
}
main .container .faqs .faq ol li ol li {
  padding-left: 20px;
}

footer {
  background-color: #F5F5F5;
  border-top: 1px solid #eee;
}
footer .container-footer {
  width: 52%;
  height: 44px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .container-footer .left-footer span {
  font-size: 11px;
  color: #57575791;
}
footer .container-footer .right-footer {
  display: flex;
  align-items: center;
}
footer .container-footer .right-footer i {
  color: #006eff;
  font-size: 18px;
  margin-right: 10px;
}
footer .container-footer .right-footer i:hover {
  cursor: pointer;
}
footer .container-footer .right-footer select {
  border: 1px solid black;
  padding-right: 100px;
}
