* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header {
  border-bottom: 1px solid grey;
}
header .top-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .top-header .left-top-header {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-left: 10px;
}
header .top-header .left-top-header img:hover {
  cursor: pointer;
}
header .top-header .left-top-header p {
  font-size: 22px;
  color: #575757;
  margin-top: 5px;
}
header .top-header .left-top-header p:hover {
  cursor: pointer;
}
header .top-header .right-top-header {
  padding-top: 10px;
  padding-right: 10px;
}
header .top-header .right-top-header i {
  font-size: 25px;
  margin-left: 20px;
  color: #575757;
}
header .navbar ul {
  display: flex;
  flex-direction: row;
  color: #575757;
  margin-top: 5px;
}
header .navbar ul li {
  list-style: none;
  padding: 8px 20px;
  font-size: 15px;
  font-weight: bold;
}
header .navbar ul li:hover {
  cursor: pointer;
}
header .navbar ul li:last-child {
  color: #006eff;
  border-bottom: 2px solid #006eff;
}

main .container {
  width: 52%;
  margin: 0 auto;
  height: 100vh;
}
main .container .faqs {
  padding: 100px 10px;
}
main .container .faqs h3 {
  font-size: 25px;
}
main .container .faqs p {
  margin: 35px 0;
  font-size: 14px;
  line-height: 22px;
}
main .container .faqs a {
  text-decoration: none;
  color: #006eff;
}
