header{
    border-bottom: 1px solid grey;
    .top-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left-top-header{
            display: flex;
            align-items: center;
            padding-top: 10px;
            padding-left: 10px;
            img:hover{
                cursor: pointer;
            }
            p{
                font-size: 22px;
                color: $colorgrey;
                margin-top: 5px;
                &:hover{
                    cursor: pointer;
                }
            }
        }
        .right-top-header{
            padding-top: 10px;
            padding-right: 10px;
            i{
                font-size: 25px;
                margin-left: 20px;
                color: $colorgrey;
                &:hover{
                    cursor: pointer;
                }
            }
        }
    }
    .navbar{
        ul{
            display: flex;
            flex-direction: row;
            margin-top: 5px;
            li{
                list-style: none;
                padding: 8px 20px;
                font-size: 15px;
                font-weight: bold;
                a{
                    text-decoration: none;
                    color: $colorgrey;
                }
                &:hover{
                    cursor: pointer;
                }
                &:last-child{
                    color: rgb(0, 110, 255);
                    border-bottom: 2px solid rgb(0, 110, 255);
                }
            }
        }
    }
}